<div class="container">
    <div class="spacer"></div>
    <div class="first-box" >
      <h2 appScrollAnimation class="first-heading">Section 1</h2>
      <p>This section fades in and moves up when it enters the viewport.</p>
      <div class="image-grid">
        <div class="col-flex">
            <img src="https://i.pinimg.com/564x/f2/92/69/f292690a6c5ac935cd86b6b933d2cda3.jpg" class="animated-img" alt="Image 1" appScrollAnimation />
            <img src="https://i.pinimg.com/564x/8b/f4/e6/8bf4e61e77d64571912fadca066fd9ba.jpg" class="animated-img" alt="Image 2" appScrollAnimation />
            <img src="https://i.pinimg.com/564x/5e/21/8c/5e218cdf6d22979901b537be1df5db24.jpg" class="animated-img" alt="Image 3" appScrollAnimation />
        </div>
        <div class="col-flex">
        
            <img src="https://i.pinimg.com/564x/65/33/79/65337914c96320dea15634a49bf174aa.jpg" class="animated-img" alt="Image 4" appScrollAnimation />
            <img src="https://i.pinimg.com/564x/91/33/ca/9133cad615af0dd04b515c6e3b90d00a.jpg" class="animated-img" alt="Image 5" appScrollAnimation />
            <img src="https://i.pinimg.com/736x/dc/52/c8/dc52c872f54e4e57831124eff1275f00.jpg" class="animated-img" alt="Image 6" appScrollAnimation />
        </div>
        <div class="col-flex">
            
            <img src="https://i.pinimg.com/564x/bd/9a/eb/bd9aebe1b689cba4c1a7e52a4529a81c.jpg" class="animated-img" alt="Image 7" appScrollAnimation />
            <img src="https://i.pinimg.com/564x/8a/4e/b3/8a4eb34408efc339b12dedc724f4b51d.jpg" class="animated-img" alt="Image 8" appScrollAnimation />
            <img src="https://i.pinimg.com/564x/2f/ee/b6/2feeb6e4347adb0e2597e9ceb6d36803.jpg" class="animated-img" alt="Image 9" appScrollAnimation />
        </div>
        <div class="col-flex">
            
            <img src="https://i.pinimg.com/736x/d0/9f/ab/d09fabadd771ed0bf0b1234d33ec2e53.jpg" class="animated-img" alt="Image 10" appScrollAnimation />
            <img src="https://i.pinimg.com/564x/0d/c7/9a/0dc79a8537cb58bb9c81e2c0ac33e06e.jpg" class="animated-img" alt="Image 11" appScrollAnimation />
            <img src="https://i.pinimg.com/564x/4c/8a/00/4c8a00a5f982db85dbbc3abeea8affbc.jpg" class="animated-img" alt="Image 12" appScrollAnimation />
        </div>    
      </div>
    </div>
    <div class="spacer"></div>
    <div class="box" appScrollAnimation>
      <h2>Section 2</h2>
      <p>This section fades in and moves up when it enters the viewport.</p>
    </div>
    <div class="spacer"></div>
    <div class="box" appScrollAnimation>
      <h2>Section 3</h2>
      <p>This section fades in and moves up when it enters the viewport.</p>
    </div>
    <div class="spacer"></div>
    <div class="box" appScrollAnimation>
      <h2>Section 4</h2>
      <p>This section fades in and moves up when it enters the viewport.</p>
    </div>
    <div class="spacer"></div>
    <div class="box" appScrollAnimation>
      <h2>Section 5</h2>
      <p>This section fades in and moves up when it enters the viewport.</p>
    </div>
    <div class="spacer"></div>
  </div>
  